@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  font-family: "Lato", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  height: 95vh;
  width: 100%;
}
.info_container {
  overflow: hidden;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}
#banner1 {
  background: url('../imgs/banner1.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #FFFFFF;
}
#banner1 .details_container {
  text-align: center;
  position: relative;
  top: 100px;
}
#banner1 .details_container h1 {
  font-size: 11vw;
}
#banner1 .details_container h3 {
  font-size: 4vw;
}
#banner1 .details_container #button_container {
  margin-top: 30px;
}
#banner1 .details_container #button_container button {
  background: #27ae60;
  border: none;
  width: 250px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 25px;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  border-radius: 10px;
  width: 300px;
  margin: 15px 10px;
}
#banner1 .details_container #button_container button:hover {
  background: rgba(255, 255, 255, 0.7);
}
#banner1 .details_container #button_container button:focus {
  outline: 0 !important;
}
#banner2 {
  text-align: center;
  padding: 50px;
}
#banner2 .info_column {
  color: #FFFFFF;
  margin-top: 20px;
}
#banner2 .info_column p {
  margin: 0 auto;
  width: 70%;
  font-size: 16px;
}
#banner2 button {
  background: #27ae60;
  border: none;
  width: 250px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 25px;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  border-radius: 10px;
}
#banner2 button:hover {
  background: rgba(255, 255, 255, 0.7);
}
#banner2 button:focus {
  outline: 0 !important;
}
#banner3 {
  background: url('../imgs/banner3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#banner4 {
  padding: 50px;
  text-align: center;
}
#banner4 .staff_container {
  color: #FFFFFF;
  margin-top: 20px;
}
#banner4 .staff_container p {
  margin: 0 auto;
  width: 75%;
  font-size: 16px;
}
#banner4 button {
  background: #27ae60;
  border: none;
  width: 250px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 25px;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  border-radius: 10px;
}
#banner4 button:hover {
  background: rgba(255, 255, 255, 0.7);
}
#banner4 button:focus {
  outline: 0 !important;
}
#banner5 {
  background: url('../imgs/banner5.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #FFFFFF;
}
#banner5 .details_container {
  text-align: center;
  position: relative;
  top: 100px;
}
#banner5 .details_container #register h1 {
  margin: 40px 0;
  font-size: 50px;
}
#banner5 .details_container #register #reg {
  width: 375px;
  height: 50px;
  color: #27ae60;
  font-size: 20px;
  text-align: center;
}
#banner5 .details_container #register button {
  background: #27ae60;
  border: none;
  width: 250px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 25px;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  border-radius: 10px;
  width: 200px;
}
#banner5 .details_container #register button:hover {
  background: rgba(255, 255, 255, 0.7);
}
#banner5 .details_container #register button:focus {
  outline: 0 !important;
}
