//DEFAULT STYLES
*{
	margin: 0;
	padding: 0;
}

@white: #FFFFFF;
@button: #27ae60;

//MIXINS
.container{
	height: 90vh;
	width: 100%;
}

.center(){
	text-align: center;
}

.sign_up(){
	background: @button;
	border: none;
	width: 250px;
	padding: 15px;
	color: @white;
	font-size: 18px;
	margin-top: 25px;
	transition: .3s all;
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	border-radius: 10px;
	&:hover{
		background: rgba(255,255,255,.7);
	}
	&:focus{
		outline: 0 !important;
	}
}

//DEFAULT CLASSSES

.info_container{
	overflow: hidden;
	width: 100%;
	background: rgba(0,0,0,.9);
}

.background(@url){
	background: url(@url);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


//BANNER 1 STYLINGS

#banner1{
	.background('../imgs/banner1.png');
}

//BANNER 2 STYLINGS

#banner2{
	.center;
	padding: 50px;
	.info_column{
		color: @white;
		margin-top: 20px;
		p{
			margin: 0 auto;
			width: 70%;
			font-size: 16px;
		}
	}
	button{
		.sign_up;
	}
}

//BANNER 3 STYLINGS 

#banner3{
	.background('../imgs/banner3.jpg');
}

//BANNER 4 STYLINGS 

#banner4{
	padding: 50px;
	.center;
	.staff_container{
		color: @white;
		margin-top: 20px;
		p{
			margin: 0 auto;
			width: 75%;
		}
	}
	button{
		.sign_up;
	}
}

//BANNER 5 STYLINGS

#banner5{
	.background('../imgs/banner5.jpg')
}