//DEFAULT STYLES
*{
	margin: 0;
	padding: 0;
}
//MIXINS
.container{
	height: 90vh;
	width: 100%;
}

.info_container{
	height: 50vh;
	width: 100%;
	background: rgba(0,0,0,.8);
}

.background(@url){
	background: url(@url);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#banner1{
	.background('../imgs/banner1.jpg');
}

#banner2{
}

#banner3{
	.background('../imgs/banner3.jpg');
}

#banner4{
}

#banner5{
	.background('../imgs/banner5.jpg')
}